.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
}


.button-form {
  margin: 10px;
  background-color: #1b7f86 !important;
  border: 1px solid #1b7f86 !important;
  height: 48px;
  width: 130px;
  font-weight: 800 !important;
}

.form-label {
  font-weight: 600;
  margin: 0;
  color: #1b7f86;

}

.form-input {
  width: 500px !important;
  margin: 2px auto;
  border: 1px solid #1b7f86 !important; 
}

.table {
  width: 65% !important;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.table-head {
  background-color: white;
  color: #1b7f86;
}

.Nav{
  background-color: #1b7f86;
  height: 70px;
  align-items: center;
  color: white;
}

.add-user{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-btn{
  margin: 10px;
  background-color: #1b7f86 !important;
  border: 1px solid #1b7f86 !important;
  height: 35px;
  width: 70px;
}

.table-data{
  font-size: 18px;
  text-align: center;
}